@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

body {
    margin: 0px;
    background-image: url(pattern.jpg);
}

li {
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

main {
    background-color: beige;
    margin: 80px 400px 30px;
    padding: 40px;
    border: 3px solid gray;
}

article {
    border-bottom: 2px dotted black;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

footer{
    background-color: black;
    justify-content: center;
    margin: 0px;
    padding: 1px;
}

p.footer {
    color: white;
    text-align: center;
}